<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamShop</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

        .logo {
            font-family: 'Caveat', cursive;
        }

        .material-symbols-outlined {
            font-variation-settings:
            'FILL' 1,
            'wght' 700,
            'GRAD' 0,
            'opsz' 48
        }

    </style>
</head>
<body class="bg-slate-100 w-screen h-screen relative">
    <header>
        <div class="flex flex-row justify-around items-center h-36">
            <p class="logo text-6xl text-slate-800 flex-none w-2/5 ml-11">DreamShop</p>

            <div class="w-3/5 flex justify-end">
                <nav class="space-x-10 mr-20">
                    <a href="{{ url_for('main') }}" class="text-slate-800 text-xl hover:underline font-semibold hover:underline-offset-4">Home</a>
                    <a href="{{ url_for('history') }}" class="text-slate-800 text-xl hover:underline font-semibold hover:underline-offset-4">History</a>
                    <a href="{{ url_for('login') }}" class="text-slate-800 text-xl hover:underline font-semibold hover:underline-offset-4">Sign Out</a>
                </nav>
            </div>
        </div>
    </header>

    <div class="px-20">
        <div class="mt-10 mb-2 flex justify-between">
            <p class="font-serif text-4xl">Purchase Summary</p>
            
            <div class="flex flex-row items-end mr-10">
                <span class="material-symbols-outlined text-2xl">person_filled</span>
                <p class="font-serif text-2xl ml-3">{{ user }}</p>
            </div>
        </div>

        <hr class="my-4 h-px bg-gray-200 border-0 dark:bg-gray-700">

        {% if category_count != '-' %}
        <div class="flex overflow-x-scroll w-full">
            {% for category, count in category_count.items() %}
            <div class="flex h-auto w-[32rem] border border-gray-400 mr-5 mb-5">
                <div class="bg-gray-900 text-center w-4/5 py-5 px-5 whitespace-no-wrap">
                    <p class="text-gray-50">{{ category }}</p>
                </div>
                <div class="bg-gray-200 text-center w-1/5 py-5">
                    <p class="text-black text-base">{{ count }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="mt-10 mb-2">
            <p class="font-serif text-4xl">Purchase History</p>
        </div>

        <hr class="my-4 h-px bg-gray-200 border-0 dark:bg-gray-700">

        <div class="mt-7 px-10 overflow-x-auto overflow-y-scroll max-h-[40rem] relative shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left text-black">
                <thead class="text-xs text-black uppercase bg-gray-200">
                    <tr>
                        <th scope="col" class="py-3 px-6">
                            Order No.
                        </th>
                        <th scope="col" class="py-3 px-6">
                            SKU
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Product Name
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Category
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% if result == '-' %}
                    <tr class="odd:bg-white even:bg-gray-50 border-b">
                        <td colspan="4" class="text-center font-medium py-4 px-6">
                            You haven't purchase anything yet
                        </td>
                    </tr>
                    {% else %}
                    {% for i in range(amount) %}
                    <tr class="odd:bg-white even:bg-gray-50 border-b">
                        <th scope="row" class="py-4 px-6 font-medium whitespace-nowrap text-black">
                            {{ result['Order Code'][i] }}
                        </th>
                        <td class="py-4 px-6">
                            {{ result['SKU'][i] }}
                        </td>
                        <td class="py-4 px-6">
                            {{ result['Name'][i] }}
                        </td>
                        <td class="py-4 px-6">
                            {{ result['Product Category'][i] }}
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    
</body>
</html>