<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamShop</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

        .logo {
            font-family: 'Caveat', cursive;
        }

        .material-symbols-outlined {
            font-variation-settings:
            'FILL' 1,
            'wght' 700,
            'GRAD' 0,
            'opsz' 48
        }

    </style>
</head>
<body class="bg-slate-100 w-screen h-screen relative">
    <header>
        <div class="flex flex-row justify-around items-center h-36">
            <p class="logo text-6xl text-slate-800 flex-none w-2/5 ml-11">DreamShop</p>

            <div class="w-3/5 flex justify-end">
                <nav class="space-x-10 mr-20">
                    <a href="" class="text-slate-800 text-xl hover:underline font-semibold hover:underline-offset-4">Home</a>
                    <a href="" class="text-slate-800 text-xl hover:underline font-semibold hover:underline-offset-4">History</a>
                    <a href="" class="text-slate-800 text-xl hover:underline font-semibold hover:underline-offset-4">Sign Out</a>
                </nav>
            </div>
        </div>
    </header>

    <div class="px-20">
        <div class="mt-10 mb-2 flex justify-between">
            <p class="font-serif text-4xl">Guess what you like</p>
            
            <div class="flex flex-row items-end mr-10">
                <span class="material-symbols-outlined text-2xl">person_filled</span>
                <p class="font-serif text-2xl ml-3">User</p>
            </div>
        </div>

        <hr>

        <div class="mt-7 px-10">
            <div class="w-full flex flex-wrap">
                <div class="h-40 w-96 border border-gray-400 mr-5 mb-5 flex">
                    <div class="h-full w-40 bg-cover" style="background-image: url('/static/temp.png');"></div>
                    <div class="h-full w-56 bg-white">
                        <div class="ml-5 mt-4 flex flex-col justify-between">
                            <div class="mb-10"> 
                                <div class="text-gray-900 font-bold text-xl mb-2">SKU</div>
                                <p class="text-gray-700 text-base">Product Name</p>
                            </div>
                            <p class="text-gray-400 text-base">Product Category</p>
                        </div>
                    </div>
                </div>

                <div class="h-40 w-96 border border-gray-400 mr-5 mb-5 flex">
                    <div class="h-full w-40 bg-cover" style="background-image: url('/static/temp.png');"></div>
                    <div class="h-full w-56 bg-white">
                        <div class="ml-5 mt-4 flex flex-col justify-between">
                            <div class="mb-10"> 
                                <div class="text-gray-900 font-bold text-xl mb-2">SKU</div>
                                <p class="text-gray-700 text-base">Product Name</p>
                            </div>
                            <p class="text-gray-400 text-base">Product Category</p>
                        </div>
                    </div>
                </div>

                <div class="h-40 w-96 border border-gray-400 mr-5 mb-5 flex">
                    <div class="h-full w-40 bg-cover" style="background-image: url('/static/temp.png');"></div>
                    <div class="h-full w-56 bg-white">
                        <div class="ml-5 mt-4 flex flex-col justify-between">
                            <div class="mb-10"> 
                                <div class="text-gray-900 font-bold text-xl mb-2">SKU</div>
                                <p class="text-gray-700 text-base">Product Name</p>
                            </div>
                            <p class="text-gray-400 text-base">Product Category</p>
                        </div>
                    </div>
                </div>

                <div class="h-40 w-96 border border-gray-400 mr-5 mb-5 flex">
                    <div class="h-full w-40 bg-cover" style="background-image: url('/static/temp.png');"></div>
                    <div class="h-full w-56 bg-white">
                        <div class="ml-5 mt-4 flex flex-col justify-between">
                            <div class="mb-10"> 
                                <div class="text-gray-900 font-bold text-xl mb-2">SKU</div>
                                <p class="text-gray-700 text-base">Product Name</p>
                            </div>
                            <p class="text-gray-400 text-base">Product Category</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>